<html>
	<head>
	    <link type="text/css" rel="stylesheet" href="css/main.css" />
		<title>Hello Twitter</title>
	</head>
	<body>
	  <!--  Header -->

<div>
       <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/mentions">Mentions</a></li>
        <li><a href="/trends">Trends</a></li>
        <li><a href="http://twitter.com/sharath_sahadev">Contact us</a></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
        </ul>
</div>
<br></br>

	
	
		
		<h4>Here are some my favorites:</h4>
		
		<ul>
			<li th:each="favorite:${favorites}" th:text="${favorite.getText() + ' ' + favorite.getRetweetCount() }"  >myfavorite</li>
		</ul>
		
		
	</body>
</html>