<html>
	<head>
	    <link type="text/css" rel="stylesheet" href="css/main.css" />
		<title>Hello Twitter</title>
	</head>
	<body>
	  <!--  Header -->

<div>
         <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/mentions">Mentions</a></li>
        <li><a href="/trends">Trends</a></li>
        <li><a href="http://twitter.com/sharath_sahadev">Contact us</a></li>
        <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
        </ul>
</div>
<br></br>

	
		<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>
		
		<h4>Here are some my tweets:</h4>
	  
	    <ul>
			<li th:each="mytweet:${mytweets}" th:text="${mytweet.getText() + ', Retweet Count= ' + mytweet.getRetweetCount()  + ', Favorite count= ' + mytweet.getFavoriteCount() }"  >mytweet</li>
		</ul>
		
		
		
		<h4>These are your friends:</h4>
		
		<ul>
			<li th:each="friend:${friends}" th:text="${friend.name}">Friend</li>
		</ul>
		
		<h4>Here are tweets that were retweeted:</h4>
		
		<ul>
			<li th:each="tweet:${tweets}" th:text="${tweet.getText()} + ', Retweet count=' + ${tweet.getRetweetCount()}">Friend</li>
		</ul>
		

	</body>
</html>